@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Times New Roman', Times, serif;
}

@keyframes underlineSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-underline {
  animation: underlineSlide 0.8s ease-out forwards;
}
